<html>

<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/basic.css">

</head>

<body>

    <div class="container" style="margin:10% ">
        <div class="">
            <h1>Todo<strong>List</strong> </h1>

            <section class="form">
                <input type="text" id="todoInput" placeholder="enter tasks">
            </section>

            <ul class="list">

            </ul>
        </div>
    </div>

    <script type="" src="javascripts/jquery-3.2.1.js"> </script>

    <script type="" src="javascripts/Ajax.js"> </script>

</body>

</html>